<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" lang="ko">

<div layout:fragment="content">
    <div class="container">
        <div class="row">
            <!-- 게시글 카드 반복 -->
            <div th:each="board : ${boardList}" class="col-md-4 mb-4">
                <div class="card text-bg-dark mb-3">
                    <!-- fileNames 리스트가 null이 아니고, 빈 리스트가 아닐 때만 이미지 표시 -->
                    <th:block th:if="${board.fileNames != null and board.fileNames.size() > 0}">
                        <!-- 이미지 경로를 서버에서 제공하도록 설정 -->
                        <img th:src="@{/upload/{fileName}(fileName=${board.fileNames[0]})}" class="card-img-top" alt="이미지">
                    </th:block>
                    <div class="card-body">
                        <h5 class="card-title" th:text="${board.title}">게시글 제목</h5>
                        <p class="card-text">게시글 ID: <span th:text="${board.boardId}"></span></p>
                        <!-- 좋아요 및 북마크 버튼 -->
                        <div class="d-flex justify-content-end">
                            <button type="button" class="btn btn-link p-0" onclick="toggleIcon(this, 'like')">
                                <img th:src="@{/images/like-icon.png}" data-src-checked="/images/like-icon-checked.png" data-src-unchecked="/images/like-icon.png" class="icon" alt="좋아요" style="width: 24px; height: 24px;">
                            </button>
                            <button type="button" class="btn btn-link p-0 ml-3" onclick="toggleIcon(this, 'bookmark')">
                                <img th:src="@{/images/bookmark-icon.png}" data-src-checked="/images/bookmark-icon-checked.png" data-src-unchecked="/images/bookmark-icon.png" class="icon" alt="북마크" style="width: 24px; height: 24px;">
                            </button>
                        </div>
                        <a th:href="@{'/read/' + ${board.boardId}}" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- JavaScript for icon toggle and other functionalities -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            function toggleIcon(button, type) {
                const img = button.querySelector('img');
                const isChecked = img.src === window.location.origin + img.getAttribute('data-src-checked');
                img.src = isChecked ? img.getAttribute('data-src-unchecked') : img.getAttribute('data-src-checked');
            }

            // toggleIcon을 전역 함수로 등록
            window.toggleIcon = toggleIcon;
        });
    </script>
</div>
</html>

